* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: #ffffff;
}

a {
  color: inherit;
  text-decoration: none;
}

input:focus {
  outline: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.multiline-ellipsis {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; 
  white-space: pre-wrap; 
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.invitation-hero-section-bg {
  background: radial-gradient(100.02% 100% at 50% 0%, #FFFFFF 44.62%, rgba(255, 255, 255, 0) 100%), url("/hero/background.svg");
  background-repeat: no-repeat;
  background-size: 101%;
  background-position: 10% 0%;

  @media (max-width: 962px) {
    background: radial-gradient(100.02% 100% at 50% 0%, #FFFFFF 24.62%, rgba(255, 255, 255, 0) 100%), url("/hero/background.svg");
     }
}